<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="fragment-modal">
	<script>

		//로그인
		//로그인시 세션유지하기
		function fnLoginsubmit() {	
		
				var userid = $("#userid").val();
				var userpwd = $("#userpwd").val();
				//alert('성공'+email);
				var dataObj = new Object();
				dataObj.userid = userid;
				dataObj.userpwd = userpwd;
	
				$.ajax({
				type:"POST",
				url:"/login",
				data:JSON.stringify(dataObj),
				contentType:'application/json; charset=UTF-8',
				success:function(data){
				    if (
						data == 'ok') { // 로그인 성공시 
						$("#loginModal").modal("hide");
					location.reload(); //윈도우 내에서 자동으로 새로고침 
					//서버에 있는 세션을 클라이언트(뷰단)에 적용 시키기 위해 새로고침을 한다. 그렇기에 타임리프가 동작 할 수 있음.
				  }else {
				  	(data == 'false')
					 alert("너 비번 틀렸어") }; 
					}
					
				})
				
		};

		//로그아웃
		function fn_logout() {
			$.ajax({
				type:"GET",
				url:"/logout",
				success:function(data){
					console.log('ajax logout');
				}
			});
			location.reload();
		}

		//아이디 찾기
		function fn_findid() {
				var username = $("#findname").val();
				var email = $("#findemail").val();
				//alert("값 들어감?");
				var findIdObj = new Object();
				findIdObj.username = username;
				findIdObj.email = email;


				$.ajax({
				type:"POST",
				url:"/findid",
				data:JSON.stringify(findIdObj),
				contentType:'application/json; charset=UTF-8',
				success:function(data) {
					if (data) {
						$("#findid").modal("hide");
						alert("찾았습니다! 야호");
						//$('#chkid').html("당신의 아이디는 "+data+" 입니다.");
						$('input[id=userid]').attr('value',data);
						//input value 값에 data(유저의 아이디값)을 추가한다.
						
					}else {
						alert("없는 정보인데? 회원이 확실하시나요?");
					}		
					} 	
				})
				 
		};	

		//비밀번호 찾기 
		function fnFindpwd() {
				var username = $("#pwdname").val();
				var email = $("#pwdemail").val();
				//alert("값 들어감?");
				var pwdObj = new Object();
				pwdObj.username = username;
				pwdObj.email = email;


				$.ajax({
				type:"POST",
				url:"/findPwd",
				data:JSON.stringify(pwdObj),
				contentType:'application/json; charset=UTF-8',
				success:function(data) {
					if(data) {
						alert("전송완료"); 
						$.ajax({
							type:"POST",
							url:"/findPwd/sendEmail",
							data: JSON.stringify(pwdObj),
							contentType:'application/json; charset=UTF-8',
								})
								console.log(email)
						alert("보냈다");
						$("#pwdModal").modal("hide");	
					}	else{
						alert("일치 정보 없");
					}		
					} 	
				})
				 
		};	




		//회원가입 빈 칸 입력 금지
		//회원가입 
        function fnjoinsubmit() {
		
				if (!document.joinform.userid.value) {
					alert("아이디를 입력하세요!");
					document.joinform.userid.focus();
					return;
					}
				if (!document.joinform.userpwd.value) {
					alert("비밀번호를 입력하세요!");
					document.joinform.userpwd.focus();
					return;
					}
				if (!document.joinform.userpwd2.value) {
					alert("비밀번호를 확인하세요!");
					document.joinform.userpwd2.focus();
					return;
					}
				if (!document.joinform.username.value) {
					alert("이름을 입력하세요!");
					document.joinform.username.focus();
					return;
					}
				if (!document.joinform.email.value) {
					alert("이메일을 입력하세요!");
					document.joinform.email.focus();
					return;
					}

				var pwd1 = document.getElementById("joinuserpwd").value
				var pwd2 = document.getElementById("joinuserpwd2").value
				if (pwd1 != pwd2) {
					alert("비밀번호가 일치하지 않아요.");
					document.joinform.userpwd2.focus();
					return;
				}
			
				//if ((document.getElementsByName("userpwd").value) != (document.getElementsByName('userpwd2').value)){
				//	alert('비밀번호가 일치하지 않습니다.');
				//	return;
				//}
				
 			//비밀번호 불일치일시 회원가입 불가하게 로직 짜기


			    var userid = $("#joinuserid").val();
				var userpwd = $("#joinuserpwd").val();
				var username = $("#joinusername").val();
				var email = $("#joinemail").val();
				//alert('성공'+ userid);
				var joinObj = new Object();
				joinObj.userid = userid;
				joinObj.username = username;
				joinObj.userpwd = userpwd;
				joinObj.email = email;
				
	
				$.ajax({
				type:"POST",
				url:"join",
				data:JSON.stringify(joinObj),
				contentType:'application/json; charset=UTF-8',
				success:function(data) {
					console.log("join")
					location.reload();
				   }  
				})
		};

		//비밀번호 일치 확인
		$(function(){
  			$('#joinuserpwd').keyup(function(){
    		$('#chkNotice').html('');
    		});

    		$('#joinuserpwd2').keyup(function(){

        		if($('#joinuserpwd').val() != $('#joinuserpwd2').val()){
          		$('#chkNotice').html('비밀번호 일치하지 않음<br>');
          		$('#chkNotice').attr('color', '#f82a2aa3');
        		} else{
          		$('#chkNotice').html('비밀번호 일치함<br>');
          		$('#chkNotice').attr('color', '#199894b3');
        		}

			});
			
			//회원정보 수정 시 비밀번호 일치 확인
			$('#mypagepwd').keyup(function(){
    		$('#chkmopwd').html('');
    		});

    		$('#mypagepwd2').keyup(function(){

        		if($('#mypagepwd').val() != $('#mypagepwd2').val()){
          		$('#chkmopwd').html('비밀번호 일치하지 않음<br>');
          		$('#chkmopwd').attr('color', '#f82a2aa3');
        		} else{
          		$('#chkmopwd').html('비밀번호 일치함<br>');
          		$('#chkmopwd').attr('color', '#199894b3');
        		}

			});
			




		});

		//아이디 중복 확인
		function id_check() {

				
				var chkid = $("#joinuserid").val();
				
				$.ajax({
				type:"POST",
				url:"/chkid",
				data:JSON.stringify({userid : chkid}),
				contentType:'application/json; charset=UTF-8',
				success:function(data){
				    if (data == 1) { //db에 id값이 있을 때 
						//alert("중복된 아이디입니다.");
						$('#chkid').html('중복된 아이디 입니다.<br>');
          				$('#chkid').attr('color', '#f82a2aa3');
				  }else if(data == 0){
					  //$("#idChk").attr("value", "Y")
					  //alert("사용가능한 아이디입니다.") }; 
					    $('#chkid').html('사용가능한 아이디에요.<br>');
          				$('#chkid').attr('color', '#199894b3'); 
				}
            }
		});
	}
		//슬기 로직 추가
		//마이페이지로 개인 정보 불러오기
		function fn_my() {
			$.ajax({
			type:"GET",
			url:"/modify",
			contentType:'application/json; charset=UTF-8',
			success:function(data){
				if (data) {
					//var strdata = JSON.stringify(data);//object타입을 string타입으로 변환
					//형 변환을 할 필요가 없었다. 왜냐면 어차피 오브젝트에서 .이거로 각각의 정보를 뽑아오기 때문 ! 
					$('input[id=mypageid]').attr('value',data.userid);
					//$('input[id=mypagepwd').attr('value',data.userpwd);
					$('input[id=mypagename]').attr('value',data.username);
					$('input[id=mypageemail]').attr('value',data.email);
				}
			}


			});
		}
		//슬기 로직추가 
		//마이페이지 기존 비밀번호 체크
		function fn_oripwd() {
			let oripwd= $("#oripwd").val();
				//alert(oripwd);

				$.ajax({
				type:"POST",
				url:"/chkoriPwd",
				data:JSON.stringify({userpwd : oripwd}),
				contentType:'application/json; charset=UTF-8',
				success:function(data){
					if (data == 'ok') { 
						//alert("일치");
						$('input[id=mypagepwd]').removeAttr('readonly');
						$('input[id=mypagepwd2]').removeAttr('readonly');
						$('input[id=mypagename]').removeAttr('readonly');
						$('input[id=oripwd]').attr('readonly','');
					
				  	}else
					  alert("비밀번호를 다시 확인하세요");
					
				
           		}
			});


		}
		//마이페이지 회원정보 수정
		function fn_modify() {
			let mypagepwd =$('#mypagepwd2').val();
			let mypagename =$('#mypagename').val();
			let mypageObj = new Object();
				mypageObj.userpwd = mypagepwd;
				mypageObj.username = mypagename;
			//alert(mypageObj.username); //확인

			$.ajax({
				type:"POST",
				url:"/modify/update",
				data:JSON.stringify(mypageObj),
				contentType:'application/json; charset=UTF-8',
				success:function(data) {
					if (data == "ok"){
						alert("수정되었습니다.");
						$("#mypageModal").modal("hide");
						location.reload();
					}else 
					   alert("실패했어요.");
					
				   }  
				})
		};
		//마이페이지 정보 삭제
		function fn_delete(){

		if(confirm("정말로 탈퇴하실 건가요?")) {		
			$.ajax({
				type:"GET",
				url:"/delete",
				success:function(data){
					console.log("성공");
					if (data == 1) {
						alert("삭제완료");
						location.reload();
					}else {
						alert("뭔가 이상함");
					}
				}
			});
		  }
		else 
		  return false;
		
		}

	</script>
	<a href="http://localhost:8080">Home</a>
	
	  <div class="container">
		  <!--로그인시, id 보여줌-->

		  <span th:text="${session.email}" style="color: cadetblue;"> 
			</span>
	<!--상단 로그인/ 로그아웃 버튼-->

		  <span th:text="${session.email}" style="color: cadetblue;" > </span>
		<!--<i class="fa fa-user-circle float-left" aria-hidden="true" style="color: cadetblue;" ></i>-->
	<span id="joinbtn"  th:style="${session.email == null ? '':'display:none'}">
    <button type="button" class="btn btn-info btn-round float-right" data-toggle="modal" data-target="#joinModal" >
    SignUp
  	</button> 
  	</span>
	<span id="loginbtn" th:style="${session.email == null ? '':'display:none'}">
		<button type="button" class="btn btn-info btn-round float-right" data-toggle="modal" data-target="#loginModal" >
    login
	  </button>
	</span>
    <span id="logoutbtn" th:style="${session.email == null ? 'display:none':''}">
		<button type="button" class="btn btn-info btn-round float-right" data-toggle="modal" onclick="fn_logout()">
			Logout
  	</button> 

	</span> 
	<span id="mypagebtn" th:style="${session.email == null ? 'display:none':''}">
		<button type="button" class="btn btn-info btn-round float-right" data-toggle="modal" data-target="#mypageModal" onclick="fn_my()">
			Mypage
  	</button> 
	</span> 
	<!--로그인 모달-->

	</span>

  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-title text-center">
          <h4>Login</h4>
        </div>
        <div class="d-flex flex-column text-center">
          <form method="post" action="index" name="loginform">
            <div class="form-group">
              <input type="id" class="form-control" id="userid" name="userid" placeholder="ID">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="userpwd" name="userpwd" placeholder="password">
            </div>
            <button type="button" class="btn btn-info btn-block btn-round" id="loginsubmit" name="loginsubmit" onclick="fnLoginsubmit()">Login</button>
		  </form> <br>
		  <div>
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#findid"><i class="fas fa-address-book text-muted" aria-hidden="true"> Find ID</i></button>
		  <button type="button" class="btn btn-light" data-toggle="modal" data-target="#pwdModal"><i class="fas fa-key text-muted" aria-hidden="true" > Find Password</i></button>
			<hr>
		</div> 
		  
		  <div class="text-center text-muted delimiter">SNS Login</div>
		  <!--카카오로그인-->
		  <div class="kakaologin">
		  <a href="https://kauth.kakao.com/oauth/authorize?client_id=f4756aac75cb4481cb7c932449df2447&redirect_uri=http://localhost:8080/auth/kakao/callback&response_type=code&scope=account_email">
			<img src="https://k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg" width="80%"/></a>
		  </div>
		  <div class="googlelogin">
		  <a href="/oauth2/authorization/google">
			<img src="https://pngimage.net/wp-content/uploads/2018/06/google-login-button-png-1.png" width="95%"/></a>
		  </div>
		
        </div>
      </div>
    </div>
     
  </div>
  </div>

<!-- 아이디 찾기 모달 -->
  <div class="modal fade" id="findid" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-title text-center">
          <h4>Looking for your ID</h4>
        </div>
        <div class="d-flex flex-column text-center">
          <form method="post" action="index" name="loginform">
			<font size="2">가입시 등록한 이름과 이메일을 입력하세요. </font><br><br>
			<div class="form-group">
				<div class="form-group">
             	 <input type="id" class="form-control" id="findname" name="findname" placeholder="Enter your Name">
				</div>
				<div class="form-group">
             	 <input type="id" class="form-control" id="findemail" name="findemail" placeholder="Enter your Email">
            	</div>
			  <input class="form-check-input" type="checkbox" value="" id="findidcheck" checked>
				<font size="1">나는 본인이 맞습니다.헤헿</font>
				<hr>
            </div>
            <button type="button" class="btn btn-info btn-block btn-round" id="findid" name="findid" onclick="fn_findid()">찾아죠라</button>
		  </form>
		  <div class="text-center text-muted delimiter">something bla bla~</div>
        </div>
      </div>
    </div>
     
  </div>
  </div>

  <!--비밀번호 찾기 모달 -->
<div class="modal fade" id="pwdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-title text-center">
		  <h4>Forgot your password?</h4>
        </div>
        <div class="d-flex flex-column text-center">
			<p style="color: #f82a2aa3; font-size: small;" >가입한 이메일 주소로 임시 비번이 전송~ </p>
          <form method="post" action="index" name="findPwd">
            <div class="form-group">
              <input type="id" class="form-control" id="pwdname" name="username" placeholder="Enter your Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="pwdemail" name="email" placeholder="Enter your Email">
            </div>
            <button type="button" class="btn btn-info btn-block btn-round" id="findpwd" name="findpwd" onclick="fnFindpwd()">Send Mail</button>
			</form>
			</div>
		  </div>
		</div>
	</div>
	</div>

  <!--회원가입 모달-->
   <div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-title text-center">
		  <h4>Sign Up</h4>
        </div>
        <div class="d-flex flex-column text-center">
          <form method="post" action="index" name="joinform">
            <div class="form-group">
			  <input type="id" class="form-control" id="joinuserid" name="userid" check_result="fail" placeholder="Enter your id"/>
			  <button type="button" class="btn btn-outline-info btn-block btn-round" onclick="id_check()">check!</button>
			  <font id="chkid" size="2"></font>
			</div>
			<div class="form-group">
              <input type="password" class="form-control" id="joinuserpwd" name="userpwd" placeholder="Enter your password"/>
			</div>
			<div class="form-group">
              <input type="password" class="form-control" id="joinuserpwd2" name="userpwd2" placeholder="Confirm your password"/>
			</div>
			<font id="chkNotice" size="2"></font>
			<hr>
			<div class="form-group">
              <input type="text" class="form-control" id="joinusername" name="username" placeholder="Enter your name"/>
			</div>
			<div class="form-group">
			  <input type="text" class="form-control" id="joinemail" name="email" placeholder="Enter your email"/>
			  <button type="button" class="btn btn-outline-info btn-block btn-round" onclick="email_check()">Email Check!</button>
			</div>
  			<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  			I accept the Terms of Use & Privacy Policy. 
			<hr>
			<button type="button" class="btn btn-info btn-block btn-round" id="joinsubmit" name="joinsubmit" onclick="fnjoinsubmit()">Sign Up</button>
		  </form>
		</div>
	</div>
	</div>
</div>
</div> <!--회원가입 모달 끝-->

<!--회원정보 수정 모달-->
   <div class="modal fade" id="mypageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-title text-center">
		  <h4>My Page</h4>
        </div>
        <div class="d-flex flex-column text-center">
          <form>
            <div class="form-group">
			 ID <input type="id" class="form-control" id="mypageid" name="mypageid" readonly/>
			</div>
			<div class="form-group">
             원래의 비밀번호를 입력하세요. <input type="password" class="form-control" id="oripwd" name="oripwd"/>
			</div>
			<button type="button" id="oripwdChk" onclick="fn_oripwd()">check!</button>
			<div class="form-group">
             PASSWORD <input type="password" class="form-control" id="mypagepwd" name="mypagepwd" readonly/>
			</div>
			<div class="form-group">
             PASSWORD Check <input type="password" class="form-control" id="mypagepwd2" name="mypagepwd2" readonly/>
			</div> 
			<font id="chkmopwd" size="2"></font><br>
			<div class="form-group">
             NAME <input type="text" class="form-control" id="mypagename" name="mypagename" readonly/>
			</div>
			<div class="form-group">
			 E-MAIL <input type="text" class="form-control" id="mypageemail" name="mypageemail" readonly/>
			</div>  
			  <button type="button" class="btn btn-outline-info btn-block btn-round" id="modifybtn" onclick="fn_modify()">Modify</button>
			<hr>  
			  <button type="button" size="3" class="btn btn-dark btn-block btn-round" id="deletebtn" onclick="fn_delete()">delete</button> 
		  </form>
		</div>
	</div>
	</div>
</div>
</div> <!--회원 정보 수정 모달 끝-->
 </div>
</div>
</html>