<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!--//th를 사용한다는 의미-->
<head>
	<div th:replace="/fragments/header.html :: fragment-header(title = '여행가계부')"></div>
	<div th:replace="/fragments/modal.html :: fragment-modal"></div>
</head>
<body>
	<div th:replace="/fragments/nav.html :: fragment-nav(current='home')"></div>
	
	<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="2000"> <!-- data-interval은 자동으로 슬라이드 되는 시간 -->
      <img src="https://images.unsplash.com/photo-1522509585149-c9cd39d1ff08?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=773&q=80" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="https://images.unsplash.com/photo-1501555088652-021faa106b9b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=753&q=80" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="https://images.unsplash.com/photo-1507295386538-ddd5e86cd597?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
	
	
	<div th:replace="/fragments/footer.html :: fragment-footer"></div>
</body>
</html>
