<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mini01team03.spot.model.SpotDAO">
   <!--  resultMap database의 column 과 resultType에 해당하는 VO의 필드명이 
   다를 경우 매핑 시켜준다. primary key에 대한 필드는 id로 나머지는 result 로 지정한다.-->
   <resultMap type="MarkerVO" id="spotMap">
      <id property="id" column="Id"/>
      <result property="title" column="LO_name"/>
      <result property="address" column="Address"/>
      <result property="la" column="Lat"/>
      <result property="ma" column="Lon"/>
      <result property="price" column="price"/>
   </resultMap>
   
   <insert id="insertSpot" parameterType="MarkerVO">
      insert into spot(Lo_name, Address, Lat, Lon, price) values (#{title}, #{address}, #{la}, #{ma}, #{price})
   </insert>

   
   
</mapper>